html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #626262;
}

.page-header {
    padding-top: 76px;
    padding-bottom: 100px;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}

.navigation {
    text-align: center;
}

.navigation-list {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.navigation li {
    display: inline-block;
    /*  margin-top: 75px; */
    margin-right: 100px;
    /*  margin-bottom: 100px; */
}

.navigation li:last-child {
    margin-right: 0;
}

.navigation li a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #626262;
}

.navigation li a:hover {
    color: #03a9f4
}

.posts-wrap {
    font-size: 0;
}

.post {
    display: inline-block;
    width: 420px;
    font-size: 14px;
    margin-right: 60px;
}

.post:nth-child(even) {
    margin-right: 0;
}

.post-img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 28px;
}



.post .category {
    font: 300 14px 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #b4ad9e;
    margin: 0;
    margin-bottom: 33px;
}

.post h3 {
    font-size: 30px;
    margin: 0;
    margin-bottom: 36px;
}

.post-description {
    margin: 0;
    margin-bottom: 130px;
}

.btn-more {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid;
    padding: 20px 35px;
}

.btn-more:hover {
    color: #03a9f4
}

.load-more-button {
    padding-bottom: 70px;
}