html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
    color: #555252;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.logo {
    display: inline-block;
    /*пришлось применить inline-block для того чтобы применились стили для первой буквы через псевдо элемент. почему так?*/
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #555252;
    font-weight: 300;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
}

.logo:first-letter {
    font-weight: 900;
    color: #1abc9c;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}